.esri-view {
  width: 100%;
  height: 100%;
  position: relative;

  &__share-widget {
    background-color: var(--calcite-color-foreground-1);
  }

  &.esri-view .esri-view-user-storage {
    overflow: visible;
    position: absolute;
    right: 0;
  }
}
